<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--連線字串 測試區-->
    <add key="ConnectionString" value="Data Source=(local) ;Initial Catalog=sunba_affairs ;User ID=nick;Password=nicklai770528;Trusted_Connection=false;"/>
    <!--連線字串 上線區-->
    <!--<add key="ConnectionString" value="Data Source=(local) ;Initial Catalog=sunba_affairs ;User ID=nick;Password=nicklai770528;Trusted_Connection=false;"/>-->

    <!--附件上傳資料夾 測試區-->
    <add key="UploadFileRootDir" value="D:\WebUpLoad\SunBa_Affairs_Upload\"/>
    <!--附件上傳資料夾 上線區-->
    <!--<add key="UploadFileRootDir" value="D:\WebUpLoad\SunBa_Affairs_Upload\"/>-->
  </appSettings>
  <system.web>
    <!--資安用-->
    <customErrors mode="Off"/>
    <machineKey decryption="3DES"/>
    <!--資安用-->
    <sessionState mode="InProc" timeout="180"/>
    <pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="4.0"/>
    <httpRuntime executionTimeout="180" maxRequestLength="2147483647"/>
    <!-- requestValidationMode="2.0"-->
    <compilation debug="true" targetFramework="4.5"/>
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295"/>
      </requestFiltering>
    </security>
    <!--<modules>
      <add name="AntiSQLinjection" type="AntiSQLinjection"/>
    </modules>-->
    <httpProtocol>
      <customHeaders>
        <!--避免 Cross Frame Scripting -->
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <!-- 修正【遺漏或不安全的 HTTP Strict-Transport-Security 標頭】-->
        <add name="Strict-Transport-Security" value="max-age=63072000; includeSubDomains"/>
        <!-- 修正【遺漏或不安全的 "X-Content-Type-Options" 標頭】-->
        <add name="X-Content-Type-Options" value="nosniff" />
        <!-- 修正【遺漏或不安全的 "X-XSS-Protection" 標頭】-->
        <add name="X-XSS-Protection" value="1; mode=block" />
        <!--修正【遺漏或不安全的 "Content-Security-Policy" 標頭】-->
        <add name="Content-Security-Policy" value="frame-ancestors 'self';" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>